# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/**
venv/**
ENV/
.env
.env.*
.python-version

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
pip-log.txt
pip-delete-this-directory.txt

# Tests / coverage
.pytest_cache/
.cache
.tox/
.nox/
.coverage
.coverage.*
htmlcov/

# Typing
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# IDE / editor
.idea/
.vscode/
*.swp
*.swo

# Project-specific
agents/
